.content1 {
  height: 770px;
  background: url(../../Images/celphone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.relativeCard {
  width: 38%;
  position: relative;
  min-width: 297px;
  max-width: 380px;
}

.contentTopLeft {
  left: 35%;
  top: 54%;
}

.contentTopRigh {
  left: 14%;
  top: 30%;
}
.contentBottomLeft {
  left: 38%;
  top: 45%;
}

.contentBottomRight {
  left: 23%;
  top: 20%;
}
.widthHeight45 {
  display: flex;
  height: 45%;
  width: 100%;
}
.width50 {
  width: 50%;
}

.mainOrange {
  display: none;
}

@media (max-width: 1700px) {
  .contentTopLeft {
    left: 24%;
  }
  .contentBottomRight {
    left: 32%;
    top: 16%;
  }
  .contentBottomLeft {
    left: 24%;
  }
}

@media (max-width: 800px) {
  .displayNone {
    display: none;
  }

  .contentBottomRight {
    left: 13%;
    top: 50%;
  }
  .contentTopLeft {
    left: 18%;
    top: 20%;
  }
  .width50 {
    width: 100%;
  }

  .mainOrange {
    display: flex;
    justify-content: flex-end;
    height: 10%;
  }
}
