.content {
  height: 770px;
  background: url(../../Images/celphone.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.contentTopLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 171px;
  padding-left: 100px;
}


.contentTopRigh{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 110px;
}
.contentBottomLeft {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 75px;
  }
  
  .contentBottomRight{
      
      display: flex;
      justify-content: start;
      align-items: flex-start;
      padding-top: 60px;
      padding-left: 400px;
     
  }
.widthHeight50{
    display: flex;
    height: 50%;
    width: 100%;
}
.width50{
    width: 50%;
    
}