.flexDirec-Colum {
  display: flex;
  flex-direction: column;
}

.footer {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 480px;
}

.flexSpaceB{
  display: flex;
  justify-content: space-between;
}
.footerData {
  width: 70%;
  border-bottom: 0.914701px solid #bebbbbb9;
}

.dataPrincipal {
  align-items: flex-start;
  height: 198px;
}

.dataPrincipal p {
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 14.6352px;
  line-height: 29px;
  color: #000000;
}

.dataLinks {
  width: 20%;
  height: 198px;
}

.dataLinksBase {
  justify-content: space-around;
  height: 110px;
}

.linksDataBase {
  display: flex;
  justify-content: space-between;
}

.dataLinks p {
  height: 54px;
  margin: 0px;
  line-height: 70px;
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 16.4646px;
  line-height: 26px;
}

.linksDataBase a {
  min-width: 120px;
  font-family: Epilogue;
  font-style: normal;
  font-weight: 300;
  font-size: 14.6352px;
  line-height: 15px;
  color: #000000;
  opacity: 0.65;
}

.dataSubscribe p {
  font-family: Epilogue;
  font-style: normal;
  font-weight: bold;
  font-size: 16.4646px;
  line-height: 26px;
}

.inputSubscribe {
  display: flex;
  align-items: center;
}
.inputSubscribe input {
  height: 45px;
  width: 181px;
  background: rgba(255, 255, 255, 0.42);
  border: 0.914701px solid rgba(0, 0, 0, 0.16);
  border-radius: 5.48821px;
  padding: 0px 45px 0px 10px;
}

.arrow {
  background: #ffa00d;
  -webkit-border-top-right-radius: 7.31761px;
  -webkit-border-bottom-right-radius: 7.31761px;
  -moz-border-radius-topright: 7.31761px;
  -moz-border-radius-bottomright: 7.31761px;
  border-top-right-radius: 7.31761px;
  border-bottom-right-radius: 7.31761px;
  width: 45px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -44px;
}

.footerSocial {
  width: 70%;
  padding-top: 25px;
  align-items: center;
}

.socialPowered {
  display: flex;
}

.fontEpilogue500 p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 14.6352px;
  line-height: 15px;
}

.socialPowered img {
  transform: scale(0.8);
}

.footerContent {
  width: 55%;
}

.displayNone{
  display: none;
}

@media (max-width: 800px) {
  .footer {
    height: 530px;
  }
  .footerData {
    flex-direction: column-reverse;
    width: 90%;
  }

  .dataLinks {
    display: none;
  }

  .dataPrincipal {
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    border-top: 0.914701px solid #bebbbbb9;
    align-items: center;
  }

  .dataPrincipal img {
    display: none;
  }
  .dataSubscribe {
    margin-bottom: 50px;
  }
  .inputSubscribe input {
    width: 100%;
  }

  .dataSubscribe p {
    padding-left: 30px;
  }

  .footerSelect {
    display: block;
    width: 100%;
    height: 53px;
    border: 0.5px solid rgba(0, 0, 0, 0.43);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 15px;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    background-color: white;
  }
  .quickLinks {
    margin-top: 30px;
  }

  .footerSocial {
    flex-direction: column;
    width: 90%;
  }

  .footerContent {
    width: 100%;
    border-bottom: 0.914701px solid #bebbbbb9;
  }
  .socialPowered p {
    display: none;
  }
  select.footerSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../../Images/Polygon2.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) calc(1em + 5px),
      calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
    
  }
  .arrow{
    width: 58px;
  }
}
