.content2 {
  background: radial-gradient(
    82.69% 87.25% at 100% -4.5%,
    #ffcc1c 0%,
    #ff9d0c 100%
  );
  display: flex;
  min-height: 990px;
  width: 100%;
}

.content2Img {
  height: 1250px;
  width: 65%;
}

.content2Content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.flex-AlignItems-End {
  display: flex;
  align-items: flex-end;
}

.content2Description {
  flex-direction: column;
  width: 60%;
}
.content2Parragraph {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 55px;
}

.fontStyleNormal {
  font-style: normal;
}

.content2ImgCircle {
  justify-content: center;
  border-radius: 50%;
  width: 607px;
  height: 607px;
  background: #ffffff;
  mix-blend-mode: soft-light;
  opacity: 0.19;
  position: absolute;
  left: 183px;
  top: 1859px;
}

.content2Title {
  font-family: Pridi;
  font-weight: 600;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.content2Parragraph p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.48px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.85;
}

.content2ImgCelphone {
  padding-left: 361.58px;
  padding-top: 389.74px;
}

.positionRelative {
  position: relative;
}

.content2ImgBell {
  top: -75px;
  left: 98px;
}

.content2ImgSalad {
  top: -291px;
  right: 39px;
}

.content2ImgRecipes {
  top: -745px;
  right: 200px;
}

.content2ImgFood {
  top: -388px;
  right: 260px;
}

.content2ImgCalories {
  top: -785px;
  left: 216px;
}

.content2Below {
  display: none;
}

@media (max-width: 1700px) {
  .content2ImgCircle {
    top: 1730px;
  }
  .content2ImgCelphone {
    padding-top: 355.74px;
  }
}

@media (max-width: 800px) {
  .content2ImgFood {
    display: none;
  }

  .content2Img {
    width: 100%;
    height: 830px;
  }

  .content2Content {
    width: 100%;
  }
  .content2 {
    flex-direction: column-reverse;
  }

  .content2Description {
    margin-top: 120px;
    width: 100%;
    align-items: center;
  }
  .content2Title {
    font-size: 40px;
  }

  .content2Parragraph {
    width: 85%;
    text-align: center;
    font-size: 14px;
  }
  .content2Parragraph p {
    font-size: 14.5px;
  }
  .content2Download {
    display: none;
  }

  .content2ImgCircle {
    position: absolute;
    width: 497px;
    height: 497px;
    left: -40px;
    top: 1935px;
  }

  .content2ImgCelphone {
    padding: 100px;
  }
  .content2ImgCalories {
    top: -300px;
    left: 18px;
    transform: scale(0.8);
  }

  .content2ImgRecipes {
    top: -777px;
    right: 108px;
    transform: scale(0.8);
  }
  .content2Below {
    display: block;
    width: 85%;
    margin: 0 auto;
    padding-top: 40px;
    border-top: 0.5px solid #ffffff;
    z-index: 5;
  }
  .content2Download2 {
    text-align: center;
    transform: scale(0.8);
  }
  .content2MainOrange {
    text-align: end;
  }
}
